* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gainsboro;
}

.mainhead {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  padding: 7px 0;
}
.mainhead .right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.mainhead .right .logo {
  width: auto;
  margin: 0 50px;
}
.mainhead .right .search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  background-color: #FAFAFA;
  width: 400px;
  border-radius: 15px;
}
.mainhead .right .search input {
  width: 100%;
  border: none;
  background-color: #FAFAFA;
  padding: 5px 0;
}
.mainhead .mainnav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.mainhead .mainnav a {
  margin: 0 5px;
}

.main1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 2%;
  background-color: #FAFAFA;
}
.main1 .app_menu {
  padding-top: 80px;
  padding-left: 20px;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  padding-bottom: 40px;
}
.main1 .app_menu .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 25px;
}
.main1 .app_menu .links a {
  text-decoration: none;
  margin-bottom: 18px;
  color: gray;
}
.main1 .mainsec {
  padding-top: 50px;
}
.main1 .mainsec .headerpost {
  margin: 5px 0;
}
.main1 .mainsec .headerpost h4 {
  color: gray;
}
.main1 .mainsec .headerpost .nav_s {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.main1 .mainsec .headerpost .nav_s a {
  margin: 0 8px;
  text-decoration: none;
  color: gray;
}
.main1 .mainsec .mainsection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.main1 .mainsec .mainsection .art {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.main1 .mainsec .mainsection .art .post-info {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px;
}
.main1 .mainsec .mainsection .art .post-info .na {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.main1 .mainsec .mainsection .art .post-info .na img {
  border-radius: 50%;
}
.main1 .mainsec .mainsection .art .post-info .like {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.main1 .mainsec .mainsection .art .post-info .comment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.main1 .mainsec .mainsection .art .imgpr {
  padding: 0 20px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}
.main1 .mainsec .mainsection .art .sus {
  width: 360px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main1 .user_list {
  padding-top: 60px;
  padding-left: 20px;
  background-color: white;
  position: sticky;
  top: 0;
  height: 100%;
  padding-bottom: 80px;
}
.main1 .user_list .search-c {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  background-color: white;
  width: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.main1 .user_list .search-c input {
  width: 100%;
  border: none;
  background-color: white;
  padding: 5px 0;
}
.main1 .user_list .people {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main1 .user_list .people .person {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}
.main1 .user_list .people .person img {
  border-radius: 50%;
  margin-right: 5px;
}

.he {
  color: #6D3DDA;
}/*# sourceMappingURL=main.css.map */