
$primary-color: #6D3DDA;
$background-color: gainsboro;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
}

.mainhead {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  padding: 7px 0;

  .right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    
    .logo {
      width: auto;
      margin: 0 50px;
    }

    .search {
      @include flex-center;
      padding: 5px 15px;
      background-color: #FAFAFA;
      width: 400px;
      border-radius: 15px;

      input {
        width: 100%;
        border: none;
        background-color: #FAFAFA;
        padding: 5px 0;
      }
    }
  }

  .mainnav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
      a {
        margin: 0 5px;
    }
  }
}

.main1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 2%;
  background-color: #FAFAFA;

  .app_menu {
    padding-top: 80px;
    padding-left: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
    padding-bottom: 40px;

    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 25px;
      a {
        text-decoration: none;
        margin-bottom: 18px;
        color: gray;
      }
    }
  }

  .mainsec {
    padding-top: 50px;

    .headerpost {
      margin: 5px 0;
      
      h4 {
        color: gray;
      }

      .nav_s {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        a {
          margin: 0 8px;
          text-decoration: none;
          color: gray;
        }
      }
    }

    .mainsection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      .art {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;
        .post-info {
          width: 360px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 5px 20px;
          .na {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            img {
              border-radius: 50%;
            }
          }

          .like {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
          }
    
           .comment {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
          }
        }
        .imgpr {
          padding: 0 20px;
          border-top-left-radius: 23px;
          border-top-right-radius: 23px;
        }
        .sus {
          padding: 0 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }
  }

  .user_list {
    padding-top: 60px;
    padding-left: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    height: 100%;
    padding-bottom: 80px;
    .search-c {
      @include flex-center;
      padding: 0px 10px;
      background-color: white;
      width: 250px;
      border-radius: 15px;
      margin-bottom: 15px;

      input {
        width: 100%;
        border: none;
        background-color: white;
        padding: 5px 0;
      }
    }

    .people {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .person {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0;
  
        img {
          border-radius: 50%;
          margin-right: 5px;
        }
      }
    }
  }
}

.he {
  color: $primary-color;
}
