
$primary-color: #6D3DDA;
$background-color: gainsboro;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: $background-color;
  overflow-x: hidden;
}

.mainhead {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 15;
  padding: 7px 0;
  margin: 0 auto;

  .right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    
    .logo {
      width: auto;
      margin: 0 50px;
      display: block;
    }

    .search {
      @include flex-center;
      padding: 5px 15px;
      background-color: #FAFAFA;
      width: 400px;
      border-radius: 15px;

      input {
        width: 100%;
        border: none;
        background-color: #FAFAFA;
        padding: 5px 0;
        outline: none;
      }
    }
  }

  .mainnav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
      a {
        margin: 0 7px;
        display: inline-block;
        &:hover {
          opacity: .8;
        }
        .new {
          position: relative;

          &::after {
            content: '';
            width: 7px;
            height: 7px;
            border: 1px solid $primary-color;
            border-radius: 50%;
            background-color: $primary-color;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        
    }
  }
}

.main1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0px 2%;
  background-color: #FAFAFA;
  position: relative;
  


  .toggle-button1 {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    z-index: 9999;
    border: none;
    padding: 0;
  }

  .toggle-button2 {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 170px;
    z-index: 9999;
    border: none;
    padding:0;
  }

  .app_menu {
    padding-top: 80px;
    padding-left: 20px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-bottom: 40px;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 25px;
      a {
        text-decoration: none;
        margin-bottom: 18px;
        color: gray;
        &:hover{
          opacity: .8;
        }
      }
    }
  }

  .mainsec {
    padding-top: 50px;
    position: sticky;

    @media (max-width: 767px) {
      margin: auto;
  }

    @media (min-width: 768px) {
        margin-left: 17%;
        margin-right: 25%;
    }

    .headerstory {
      padding-top: 20px;

      h4 {
        color: gray;
      }
    }

    .headerinner {
      margin: 5px 0;
      
      h4 {
        color: gray;
      }

      .nav_s {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        a {
          margin: 0 8px;
          text-decoration: none;
          color: gray;
          &:hover{
            opacity: .8;
          }
        }
      }
    }
    .mainstosec {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      margin-bottom: 30px;
      overflow-x: auto;
      overflow-y: hidden;

      .story {
        width: 130px;
        margin: 0 3px;

        a {
          text-decoration: none;
          color: black;
          &:hover{
            opacity: .8;
          }

        img {
          width: 100%;
          border-radius: 5px;
        }

        .sto-info {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
          align-items: center;
          margin-top: -33px;
          img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px double white;
          }
          h6 {
            font-size: 10px;
            color:white;
            font-weight: bold;
          }
        }
      }
    }
    }

    .mainpostsec {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      .art {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 350px;
        margin: 10px;
        background-color: white;
        border-radius: 10px;
        a {
          text-decoration: none;
          color: black;
          transition: transform 0.3s ease;
          &:hover{
            opacity: .8;
            transform: scale(1.02);
          }
        .post-info {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 0 20px;
          margin: 10px 0;
          .na {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            img {
              border-radius: 50%;
            }
          }

          .like {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
          }
    
           .comment {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
          }
        }
        .imgpr {
          padding: 3px 3px;
          margin: auto;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
        .sus {
          width: 100%;
          padding: 0 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }
    }
  }

  .user_list {
    padding-top: 60px;
    padding-left: 20px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding-bottom: 80px;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    .search-c {
      @include flex-center;
      padding: 0px 10px;
      background-color: white;
      width: 250px;
      border-radius: 15px;
      margin-bottom: 15px;

      input {
        width: 100%;
        border: none;
        background-color: white;
        padding: 5px 0;
      }
    }

    .people {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      
      a{
        text-decoration: none;
        color: black;
        &:hover{
          opacity: .8;
        }

      .person {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0;
  
        img {
          border-radius: 50%;
          margin-right: 5px;
        }
      }
    }
  }    
  }
}
.he {
  color: $primary-color;
}

footer {
  background-color: white;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  .logo {
    width: auto;
  }

}


