
$primary-color: #6D3DDA;
$background-color: gainsboro;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
}

.nav_f {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;

  .right {
    @include flex-center;
    
    .logo {
      width: auto;
      margin: 0 40px;
    }

    .search {
      @include flex-center;
      padding: 5px 15px;
      background-color: #FAFAFA;
      width: 400px;

      input {
        width: 100%;
        border: none;
        background-color: #FAFAFA;
      }

      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  .abbr {
    @include flex-center;
    
    .f-ul {
      li {
        list-style: none;
        display: inline;

        img {
          margin: 0 3px;
        }
      }
    }
  }
}

.main1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 2%;
  background-color: #FAFAFA;

  .app_menu {
    padding-top: 70px;
    padding-left: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
    padding-bottom: 20px;

    .links {
      display: flex;
      flex-direction: column;
      padding-bottom: 7%;

      a {
        text-decoration: none;
        align-items: center;
        margin-bottom: 20px;
        color: gray;
      }
    }
  }

  .mainsec {
    padding-top: 50px;

    .headerpost {
      margin: 5px 0;
      
      h4 {
        color: gray;
      }

      .nav_s {
        .list-post {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        a {
          margin: 0 10px;
          text-decoration: none;
          color: gray;
        }
      }
    }

    .post-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .na {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
      }

      .like, .comment {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
      }
    }

    .imgpr {
      padding: 7px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }

  .user_list {
    padding-top: 50px;
    padding-left: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    height: 100%;
    padding-bottom: 100px;
    margin-right: 0;

    .search-c {
      @include flex-center;
      padding: 0 10px;
      background-color: white;
      width: 250px;
      border-radius: 10px;
      margin-bottom: 10px;

      input {
        width: 100%;
        border: none;
        background-color: white;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .person {
      @include flex-center;

      img {
        border-radius: 50%;
        margin-right: 5px;
      }
    }

    .people {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

.he {
  color: $primary-color;
}
